In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
d=pd.read_csv(r'C:\Users\Diraj\Downloads\Machine learning\train_HR.csv')
t=pd.read_csv(r'C:\Users\Diraj\Downloads\Machine learning\test_HR.csv')

In [3]:
t

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23485,53478,Legal,region_2,Below Secondary,m,sourcing,1,24,3.0,1,0,0,61
23486,25600,Technology,region_25,Bachelor's,m,sourcing,1,31,3.0,7,0,0,74
23487,45409,HR,region_16,Bachelor's,f,sourcing,1,26,4.0,4,0,0,50
23488,1186,Procurement,region_31,Bachelor's,m,sourcing,3,27,NaN,1,0,0,70
23489,5973,Technology,region_17,Master's & above,m,other,3,40,5.0,5,1,0,89

In [4]:
d['previous_year_rating'].fillna(d['previous_year_rating'].median(), inplace=True)
d['education'].fillna(d['education'].mode()[0], inplace=True)

In [5]:
t['previous_year_rating'].fillna(t['previous_year_rating'].median(), inplace=True)
t['education'].fillna(t['education'].mode()[0], inplace=True)

In [6]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             54808 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  54808 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [7]:
def converting_to_cat(d):
    for i in d:
        if d[i].dtype==object:
            d[i] = d[i].astype("category")
    return

In [8]:
converting_to_cat(t)

In [9]:
x=d.iloc[:,:-1]
y=d.iloc[::,-1]
a=t.iloc[::]

In [10]:
df=pd.get_dummies(x,drop_first=True)

In [11]:
df1=pd.get_dummies(a,drop_first=True)

In [12]:
train=df.iloc[::]
test=df1.iloc[::]

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [14]:
x_train=sc.fit_transform(train)
x_test=sc.transform(test)

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
classifier=RandomForestClassifier(n_estimators=20,criterion='entropy',random_state=0)

In [17]:
classifier.fit(train,y)

RandomForestClassifier(criterion='entropy', n_estimators=20, random_state=0)

In [18]:
y_pred=classifier.predict(test)